body{
	background-color: #021C1E;
}
											/*CONTACTO*/
.form-flex-container{
	display: flex;
	background-color:#004445;
	min-width: 305px;
	width: 50%;
	margin: 50px auto;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap-reverse;
	height: 500px;
	border-radius: 10px;
	box-shadow: 10px 5px 5px black;
}

.flex-item{
	text-align: center;
}
.flex-item1{
	flex-basis: 60%;
	min-width: 300px;
}
.flex-item1>label>input{
	margin-bottom: 5px;
	width: 100%;
	border-radius: 5px;
	outline: none;
	background-color:  #021C1E;
	border:none;
	border-bottom: 3px #6FB98F solid;
	padding: 5px;
	color: #E3DAC9;
}
.flex-item__items{
	margin-bottom: 5px;
	width: 100%;
	border-radius: 5px;
}
.flex-item1>button{
	background-color: #6FB98F;
	color: black;
	border: none;
	box-shadow: 0px 8px 15px black;
	transition: .2s;
}
.flex-item1>button:hover{
	box-shadow: none;
}
.flex-item1>button:focus{
	outline: none;
}
.flex-item1>textarea{
	resize: none;
	outline: none;
	background-color:  #021C1E;
	color:#E3DAC9;
	border:none;
	border-bottom: 3px #6FB98F solid;
}
.flex-img{
	border-radius: 50%;
	border: .5px solid #121;
	background-color: #E3DAC9;
	padding: 20px;

}


