body{
	background-color: #222;
}
											/*CONTACTO*/
.form-flex-container{
	display: flex;
	background-color: #444;
	min-width: 305px;
	width: 50%;
	margin: 50px auto;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap-reverse;
	height: 500px;
	border-radius: 10px;
	box-shadow: 10px 5px 5px black;
}

.flex-item{
	text-align: center;
}
.flex-item1{
	flex-basis: 60%;
	min-width: 300px;
}
.flex-item1>label>input{
	margin-bottom: 5px;
	width: 100%;
	border-radius: 5px;
	outline: none;
}
.flex-item__items{
	margin-bottom: 5px;
	width: 100%;
	border-radius: 5px;
}
.flex-item1>button{
	background-color: #121212;
	color: grey;
	border: none;
	box-shadow: 0px 8px 15px black;
	transition: .2s;
}
.flex-item1>button:hover{
	box-shadow: none;
}
.flex-item1>button:focus{
	outline: none;
}
.flex-item1>textarea{
	resize: none;
	outline: none;
}
.flex-img{
	border-radius: 50%;
	overflow: hidden;
	border: .5px solid #121;
}

